<header class="uoc-container uoc-header">
    <div class="uoc-header__logo">

        <a class="navbar-brand" href="./index.html">
            <img src="./assets/images/ajedrez-logo.jpg" alt="" width="40" class="d-inline-block imagen-logo">
            Club de Ajedrez
        </a>

    </div>
    <div class="uoc-header__enlaces">

        <ul class="nav justify-content-center">
            <li class="nav-item">
                <a class="nav-link" aria-current="page" href="./information.html">Miembros club</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./historia.html">Historia</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="./contacto.html">Contacto</a>
            </li>
        </ul>

    </div>
</header>