@use "sass:color";
@use 'sass:math';

$font-family-sans-serif: -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
  "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
  "Segoe UI Symbol";
$font-family-serif: "Georgia", "Times New Roman", serif;
$theme-colors: (
  "primary": #fabada,
  "info": #1E72D8
);
$enable-shadows: true;
$alert-border-width: 1.6px;
$btn-padding-y: 1rem;
$btn-padding-x: 2rem;
$nav-link-hover-color: blue;
$carousel-indicator-width: 3rem;
$carousel-control-icon-width: 3rem;

$uoc-corporate: #000078;
$uoc-masterbrand: #73edff;
$uoc-bg: color.scale($uoc-masterbrand, $lightness: 70%);

$mqMinWidth: 420px;
$mqMinWidth2: 900px;
$mqMinWidth3: 1200px;

$sizeWidth: 36px;
$sizeWidth2: $sizeWidth - math.div($sizeWidth, 3);
$sizeWidth3: $sizeWidth - math.div($sizeWidth, 2) - 2;